body{
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: black;
  margin-left: auto;
  margin-right: auto;

}
.star-wars{
  display: flex;
  justify-content: center;
  height: 800px;
  perspective: 400px;
  color:yellow;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 500%;
  letter-spacing: 6px;
  line-height: 150%;
  text-align: justify;
}
.crawl{
  position: relative;
  top:-100px;
  transform-origin: 50% 100%;
  animation:crawl 60s linear;
}
@keyframes crawl{
  0%{
  top:0;
  transform: rotateX(20deg) translateZ(0);
}
100%{
  top:-6000px;
  transform: rotateX(25deg) translateZ(-2500px);
}
}
